{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static '/css/main_menu.css'%}">
</head>
<body>

<div class="container">
  <div class="box box1">
    <a href="{% url 'data_logger:cpu_data' %}" class="fill-div"></a>
  </div>
  <div class="box box2">
    <a href="#" class="fill-div"></a>
  </div>
  <div class="box box3">
    <a href="#" class="fill-div"></a>
  </div>
  <div class="box box4">
    <a href="#" class="fill-div"></a>
  </div>

</div>

</body>
</html>
